body{
    background-color: #CCFFFF;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.centered{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.indeximage{
    max-height: 100%;
    max-width: 100%;
}
.navbar-default{
    background-color: #e8c500;
}
.jumbotron{
    background-color: #C00000;
}
@font-face{
    font-family: "Russo";
    src: url("RussoOne-Regular.ttf");
}
.super-header{
    text-align: center;
    font-family: "Russo" "Verdana";
    color: #FFFFFF;
}
@font-face{
    font-family: "Droid";
    src: url("DroidSans.ttf");
}
@font-face{
    font-family: "DroidBold";
    src: url("DroidSans-Bold.ttf")
}
p{
    font-family: "Droid" "Verdana";
    font-size: 1.1em;
    text-indent: 1em;
}
@font-face{
    font-family: "Ubuntu";
    src: url("Ubuntu-Bold.ttf");
}
.nav-link{
    font-family: "Ubuntu" "Consolas" serif;
    font-size: 1.05em;
    background-color: #FFFFFF;
}

.first{
    background-color: transparent;
    height: 71vh;
}
.second-split-1{
    background-color: black;
    height: 29vh;
    display: block;
}
.second-split-2{
    background-color: blue;
    height: 29vh;
    display: block;
}
.second-split-3{
    background-color: green;
    height: 29vh;
    display: block;
}
.second-split-4{
    background-color: khaki;
    height: 29vh;
    display: block;
}
.textinsplit{
}
.heady{
    font-family: "Ubuntu";
    font-size: 2em;
    color: #AE0000;
}
figcaption{
    font-family: "DroidBold" "Verdana";
    color: #F30000;
}
.me{
    font-family: "Ubuntu";
    text-decoration: none;
}
.me:hover{
    color: #FFFFFF;
}